body {
    background-color: #CF9FFF;
    max-width: 100vmax;
    margin: 0 auto;
    padding: 0 0;
    clear:both;
}
#wrapper{
    max-width: 100vmax;
    min-height: 100vh;
    display: block;
}
a:link {
    color: purple;
    text-decoration: none; 
  }
  a:visited {
    color: darkmagenta;
    text-decoration: none; 
  }
  a:hover {
    color: #AA98A9;
    text-decoration: none; 
  }
  a:active {
    color: blue;
    text-decoration: none; 
  }
#header {
    background: url('./wpa/images/webpageheader.png');
    background-size: 100% auto; 
    background-repeat: no-repeat;
    max-width: 100vmax;
    margin-top: -50;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#header2 {
  background: url('./wpa/images/webpageheader.png');
  background-size: 100% auto; 
  background-repeat: no-repeat;
  max-width: 100vmax;
  margin-top: -50;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#header3 {
  background: url('./wpa/images/webpageheader.png');
  background-size: 100% auto; 
  background-repeat: no-repeat;
  max-width: 100vmax;
  margin-top: -50;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#navigation{
  background-color: whitesmoke;
  background-size: 100% auto;
  max-width: 100vmax;
  padding-left: 50px;
  column-count: 4;
  height: 50px;
  font-size: larger;
  padding-top: 10px;
}
#content{
    max-width: 100vmax;
    display:inline-flex;
    height: 1000px;
}
#content2-NOTUSING{
    max-width: 100vmax;
    height: auto;
}
#content3-NOTUSING{
    max-width: 100vmax;
    display: flex;
    height: 1000px;
}
#leftside{
    position:relative;
    max-width: 100vmax;
    padding:10px;
    padding-top: 100px;
    margin-left: 30px;
}

#leftfeta{
    position:relative;
    width: auto;
    max-width: 100vmax;
    min-height: 100vh;
    display:flexbox;
    text-align: center;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
}
#leftcontact{
    background-color: orange;
    width: 1200px;
    max-width: 100vmax;
    min-height: 100vh;
    margin-left: 50%;
}
#contactInfo{
    width: auto;
    max-width: 100vmax;
    min-height: 100vh;
    padding-top: 2%;
    text-align: center;
    padding-bottom: 5%;
}

#main{
    position:relative;
    width:100%;
    padding:10px;
    margin-top: 120PX;
}
#mainfeta{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    max-width: 100vmax;
    height: auto;
    
}
#fetawork{
    border: 5px solid #555;
}
#maincontact-NOTUSING{
    position:relative;
    max-width: 100vmax;
    padding-left: 200px;
    padding-top: 120PX;
    align-items: center;
}
#footer{
    background-color: whitesmoke;
    max-width: 100vmax;
    left: 0;
    bottom: 0;
    height: 30px;
    font-size: 20px;
    color: purple;
    position: fixed;
    bottom: 0;
    width: 100%; 
}