html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

body{
    background-image: url(/images/unhoused_back_blank.png);
    max-width: 100vmax;
    margin: 0 auto;
    padding: 0 0;
    clear:both;
   }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
   
/*CSS for main html elements*/
h1{
    height: auto;
}
h2{
    height: auto;;
}
h3{
    height: auto;
}
h4{
    height: auto;;
}
h5{
    font-style: italic;
}
h6{
    height: auto;;
}
input{
    display: block;
}

/*CSS for mainAccess HTML page*/
#mainpageBackground{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 1px;    
}
#mainaccessList{
    background-color: white;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    vertical-align: middle; 
    margin-top: -10px;   
    margin-bottom: 5px;
}
#mainResource1{
    background-color: white;
    width: 479px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin: 10px;
    margin-bottom: -1px;
    text-align: center;
}
#mainResource{
    background-color: white;
    width: 479px;
    margin: 10px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 20px;
   }

/*CSS for selectRes HTML page*/
#resourceType{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 1px;
}
#resourceType2{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 1px;
    
}
#resourcetypeList{
    background-color: white;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 10px;
    vertical-align: middle; 
    margin-top: -10px;   
    margin-bottom: 5px;
}
#resourceList{
    background-color: white;
    width: 479px;
    margin: 10px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 20px;
   }

/*CSS for volunteerRes HTML page*/
#givehelpBackground{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 1px;
}
#givehelpList{
    background-color: white;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 1px;
    vertical-align: middle;    
}
#giveResource{
    background-color: white;
    width: 479px;
    padding-top: 5px;
    margin: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
}

/*CSS for ResOpt HTML page*/
#resourceType{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 1px;
}
#resourcetypeList{
    background-color: white;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 10px;
    vertical-align: middle; 
    margin-top: -10px;   
    margin-bottom: 5px;
}
#resourceList{
    background-color: white;
    width: 479px;
    margin: 10px;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 20px;
   }

/*CSS for getHelp HTML pag */
#gethelpBackground{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto;  
    padding-bottom: 10px;
    
}
#gethelpList{
    background-color: white;
    width: 500px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px; 
    padding-bottom: 10px;
    vertical-align: middle;    
}
#getResource{
    background-color: white;
    width: 479px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}
#zipCodeShelter{
    margin-left: 150px;
}
#sendzip{
    margin-left: -40px;
}
#gethelpResults{
    background-color: grey;
    text-align: center;
    font-size: larger;  
}
div:not(:empt){
    background-color: grey;
}

/*CSS for api results display*/
#mainaccessBackground{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin: auto; 
    padding-bottom: 1px;
}
#resdisplayBackground{
    background-color: blue;
    max-width: 100vmax;
    min-height: auto;
    width: 500px;
    height: auto;
    margin: auto;  
    padding-bottom: 10px;
    
}

/*CSS for resDisplay HTML*/
#volunteerResults{
    background-color: white;
    text-align: center;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto;
    margin-left: 10px;

}
#volListCard{
    Background-color: white;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto; 
}

/*CSS for api results attributes*/
#orgName{
    background-color: green;
    color: white;
    height: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#orgDescription{
        src: format;
        height: auto;
}
#volzipValidate{
    background-color: grey;
    text-align: center;
    font-size: larger;  
}
div:not(:empt){
    background-color: grey;
}
#volZip{
    margin-left: 150px;
}
#volzipSubmit{
    margin-right: 40px;
}
#donateImg{
    padding-left: 90px;
    padding-top: 10px;
}



/*CSS for pinConfirm HTML page*/
#latlongconfirm{
    color: green;
    font-weight: bolder;
}

#pindropBackground{
    background-color: blue;
    width: 500px;
    height: 460px;
    margin-top: 50px;
    margin-left: 400px;  
    border: 100px; 
    padding-bottom: 1px;
}
#pindropConfirm{
    background-color: white;
    width: 500px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 70px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
#pinDrop1{
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
   }
#pinDrop2{
    background-color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/*CSS for all hyperlinks*/
a:link{
    text-decoration:none;
}
a:visited{
    color: green;
} 
a:hover{
    color: gray;
}
a:active{
    color: red;
}

/*CSS for menu burger*/
#topnav{
    float:inline-end;
    
}
#myLinks{
    display: none;
    border-right: 100px;
}
.topnav .icon {
    display: block;
  }

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/*CSS for aboutUs HTML*/
#aboutWe{
    background-color: white;
    width: 480px;
    margin:auto;
    margin-bottom: 10px;
}
#ourTeam{
    Background-color: white;
    display: flexbox;
    justify-content: center ;
    width: 480px;
    margin:auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-left: 20%;
}
#ourUsers{
    Background-color: white;
    display: flexbox;
    justify-content: center ;
    width: 480px;
    margin:auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-left: 20%;
}

/*CSS for contactUs HTML*/
#contactUs{
    background-color: white;
    width: 480px;
    margin-bottom: 10px;
    margin-left: 9px;
    text-align: left; 
    margin-top: 5px; 
}
#contactForm{
    padding-left: 100px;
}

/*CSS for foodRes HTML*/

#foodResults{
    background-color: white;
    text-align: center;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto;
    margin: auto;  
    padding-bottom: 1px;
}
#foodListCard{
    background-color: white;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto;
    margin: auto; 
    margin-bottom: 10px; 
    padding-bottom: 1px;
}

/*CSS for employRes HTML*/
#employRes{
    background-color: white;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto;
    margin: auto; 
    margin-bottom: 10px; 
    padding-bottom: 1px;
}

/*CSS for MedRes HTML*/

#healthRes{
    background-color: white;
    max-width: 100vmax;
    min-height: auto;
    width: 480px;
    height: auto;
    margin: auto; 
    margin-bottom: 10px; 
    padding-bottom: 1px;
}

.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 33%;
    }
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        body {display: inline-flex;}
      }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    body {display: contents;}
      }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {display: contents;}
      } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {display: contents;}
     } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body {display: contents;}
  }





