body {
    background-image: url(images/unhoused\ background.png);
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
}
#sheSearch {
    padding-top: 300px;
}

div#msg{
    font-size:0.8rem;
    margin-top:0.9rem;
  }

.gcse-search{
    width: 300px;
    padding-top: 300px;
}